/* !Google Fonts */
/* @import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;700&display=swap"); */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&family=Roboto+Slab:wght@700&display=swap');

/* !Reset Defaults */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* !Settings Defaults */
body {
  /* font-family: "Space Grotesk", sans-serif; */
  font-family: 'Quicksand', sans-serif;
  font-size: 1.3rem;
  font-weight: 300;
  color: rgb(255, 255, 246);
  background-color: #2d3436;
  background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
}
a {
  font-family: 'Quicksand', sans-serif;
  text-decoration: none;
  color: rgb(255, 255, 246);
}
ul {
  list-style: none;
}

/* !Utility Classes */

/* ?button */

.btn-primary {
  padding: 0.8em 1.8em;
  border: 2px solid rgb(255, 255, 246);
  position: relative;
  overflow: hidden;
  background-color: transparent;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  transition: 0.3s;
  z-index: 1;
  font-family: inherit;
  color: rgb(255, 255, 246);
}
.btn-primary::before {
  content: "";
  width: 0;
  height: 300%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background: rgb(255, 255, 246);
  transition: 0.5s ease;
  display: block;
  z-index: -1;
}
.btn-primary:hover::before {
  width: 105%;
}
.btn-primary:hover {
  color: #111;
}

/* header */

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 5%;
  height: 8vh;
}
.logo {
  text-transform: lowercase;
  color: rgb(255, 255, 246);
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.3rem;
  transition: all 0.3s ease-in-out;
}
.logo:hover {
  color: rgb(150, 150, 148);
  transition: all 0.3s ease-in-out;
}

.nav-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.nav-links li a {
  margin-left: 0.5rem;
  padding: 0.5rem 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease-in-out;
  text-transform: capitalize;
}
.nav-links li a:hover {
  color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 6px;
  transition: all 0.2s ease-in-out;
}
.burger-menu {
  display: none;
  cursor: pointer;
}
.burger-menu div {
  width: 1.563rem;
  height: 0.188rem;
  background-color: #fffffe;
  margin: 0.313rem;
  transition: all 0.3s ease;
}

/* hero */
#hero {
  margin: 0 auto;
  padding: 1rem 3rem;
  height: 92vh;
}
#hero .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80%;
}
.hero-left {
  margin: 0 auto;
}
.hero-left-content {
  margin-bottom: 1rem;
}
.hero-left-content h1 {
  font-size: 6rem;
  transition: all 0.3s ease-out;
  margin-bottom: 0.1rem;
}
.hero-left-content span {
  font-size: 2rem;
}
.hero-left-content h1:hover {
  color: rgb(150, 150, 148);
  transition: all 0.3s ease-in;
}
.hero-left-content ul {
  display: flex;
  flex-direction: row;
  margin-bottom: 1.2rem;
}

.hero-left-content ul li:nth-of-type(2),
.hero-left-content ul li:nth-of-type(4) {
  padding: 0 0.5rem;
}
.hero-left-content ul li:nth-of-type(1),
.hero-left-content ul li:nth-of-type(3),
.hero-left-content ul li:nth-of-type(5) {
  font-size: 1.5rem;
  transition: all 0.3s ease-in-out;
}
.hero-left-content ul li:nth-of-type(1):hover,
.hero-left-content ul li:nth-of-type(3):hover,
.hero-left-content ul li:nth-of-type(5):hover {
  color: rgb(150, 150, 148);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  transform: translateY(-0.1rem);
}
.hero-left-content p {
  font-size: 1.5rem;
}
.social-icons {
  display: flex;
  justify-content: start;
  /* align-items: center; */
}
.social-icons li a {
  margin-right: 0.5rem;
  padding: 0.5rem;
  font-size: 2rem;
}
.social-icons li a:hover {
  background-color: rgb(20, 20, 20);
  color: rgb(150, 150, 148);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border-radius: 6px;
}
.hero-right {
  margin: 0 auto;
}
.hero-right img {
  width: 300px;
  border-radius: 16px;
  transition: all 0.3s ease-in-out;
  transform: scale(1);
  border-radius: 50px;
  background: rgba(0, 0, 0, 0.9);
}
.hero-right img:hover {
  transform: scale(1.03);
  transition: all 0.3s ease-in-out;
  box-shadow: 2px 5px 20px #2d3436;
}
/* about */
#about {
  background-color: rgba(71, 71, 71, 0.2);
  padding: 3rem 2rem;
  border-radius: 16px;
  margin: 1rem auto;
  width: 80%;
  /* height: 60vh; */
}
.section-title {
  font-size: 3.8rem;
  text-align: center;
  margin-bottom: 3rem;
}
.about-content {
  margin: 0 auto;
  width: 70%;
  margin-bottom: 3rem;
}
.about-content p {
  font-size: 1.7rem;
}
/* Projects */
#projects {
  margin: 2.5rem 1rem;
  padding: 1.5rem 0rem;
}
.project-grid-container {
  display: grid;
  width: 80%;
  margin: 1rem auto;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3rem 2rem;
  overflow: hidden;
  text-align: center;
}
.project-container {
  background-color: rgba(0, 0, 0, 0.5);
  padding-bottom: 2rem;
  border-radius: 16px;
  overflow: hidden;
}
.project-container p {
  padding: 1rem 2rem;
}
.project-container img {
  width: 100%;
  object-fit: cover;
  max-height: 300px;
}
.project-stack {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin: 1.2rem 0 2rem 0;
}
.project-stack li {
  padding: 0.5rem 0.75rem;
  margin-left: 1rem;
  border-radius: 6px;
  color: #000000;
  text-transform: uppercase;
}
.website-btn {
  text-transform: uppercase;
  color: #fffffe;
  background-color: rgb(46, 46, 46);
  padding: 0.5rem 1.5rem;
  border-radius: 6px;
}
.website-btn:hover {
  color: #c0c0be;
  background-color: #4b4b4b;
}
.html-btn {
  background-color: #f06529;
}
.css-btn {
  background-color: #2965f1;
}
.js-btn {
  background-color: #f0db4f;
}
.bootstrap-btn {
  background-color: #563d7c;
}
.bulma-btn {
  background-color: #00d1b2;
}
.wordpress-btn {
  background-color: #21759b;
}
.woocommerce-btn {
  background-color: #96588a;
}
.java-btn {
  background-color:	#5382a1;
}
.mysql-btn {
  background-color:	#F29111;
}

/* contact */
.form-container {
  text-align: center;
  margin: 2rem 1rem;
}
.form-container .container {
  width: 100%;
}
.form-container input,
.form-container textarea {
  width: 30%;
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 16px;
  border: none;
  margin-bottom: 0.5rem;
  font: inherit;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fffffe;
}
.form-container button {
  padding: 0.75rem 2rem;
  background-color: rgba(0, 0, 0, 0.5);
}


footer {
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.2);
  text-align: center;
}

/* ! RESPONSIVE */
@media (max-width: 1200px) {
  .project-grid-container {
    grid-template-columns: 1fr 1fr;
  }
  .headaline-bottom-text li {
    font-size: 1rem !important;
  }

  body {
    overflow-x: hidden;
  }
  /* navbar */
  .nav-links {
    display: none;
    position: absolute;
    right: 0;
    height: 92vh;
    top: 8vh;
    background-color: #131313;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    z-index: 10;
    text-align: center;
  }
  .nav-links li {
    width: 100%;
    opacity: 0;
  }
  .nav-links li a {
    display: block;
    width: 100%;
    padding: 2rem;
  }
  .burger-menu {
    display: block;
  }

  .nav-links.toggle {
    display: flex;
    transform: translateX(0%);
  }
}
@media (max-width: 738px) {
  /* HERO Container */
  #hero .container {
    margin: 0 auto;
    width: 80%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .hero-left-content span {
    font-size: 0.8rem;
  }
  .headaline-bottom-text li {
    display: none;
  }
  .hero-left-content h1 {
    font-size: 2.5rem;
  }
  .hero-left-content p {
    font-size: 1rem;
  }
  .hero-right {
    display: none;
  }
  /* ABOUT */
  .section-title {
    font-size: 2.9rem;
  }
  .about-content {
    width: 100%;
  }
  .about-content p {
    font-size: 1rem;
  }
  /* PROJECTS */
  .project-grid-container {
    grid-template-columns: 1fr;
  }
  .project-title {
    font-size: 1.2rem;
  }
  .project-description {
    font-size: 0.9rem;
  }
  .website-btn {
    font-size: 0.9rem;
    padding: 0.6rem 1.5rem;
  }
  .project-technology {
    font-size: 0.9rem;
    padding: 0.6rem 1.5rem;
  }
  /* CONTACT */
  .form-container input,
  .form-container textarea {
    width: 80%;
  }
}

/* ! MOBILE */
@media (max-width: 480px) {
  .project-stack {
    flex-direction: column;
  }
  .project-stack li {
    margin: 0.3rem 0;
  }
}

/* Burger Menu */
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
.form-container button {
  border: none;
  font: inherit;
}
.hero-left-content h1 {
  font-size: 3.5rem;
}
.hero-left-content p {
  font-size: 2rem;
}

.nav-active {
  transform: translateX(0);
}

.toggle .line-1 {
  transform: rotate(-45deg) translate(-0.3rem, 0.4rem);
}
.toggle .line-2 {
  opacity: 0;
}
.toggle .line-3 {
  transform: rotate(45deg) translate(-0.3rem, -0.4rem);
}
